<section id="" class="mt-0 pt-0 bg-rosa">
    <div class="container">
        <div class="swiper_wrapper min-vh-60 min-vh-lg-75" data-loop="true">

            <div class="col-lg-10 offset-lg-1 bg-cor-roxo p-80 p-40-mob" style="border-radius: 80px;">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1">
                        <img src="img/m-merck.png" alt="Logo M Merck">
                    </div>

                    <div class="col-lg-6">
                        <h3 class="font-merck text-amarelo text-center-xs mb-0">Há 100 anos</h3>
                        <p class="text-white text-center-xs">inovando para criar, melhorar e prolongar<br class="hidden-xs"> a vida dos brasileiros.</p>
                        
                        <p class="text-center-xs">
                            <a href="https://www.facebook.com/grupomerckbrasil" class="mr-15" target="_blank"><img src="img/logo-facebook.png" alt="Facebook Merck" title="Facebook Merck"></a>
                            <a href="https://www.instagram.com/merckbrasil/" class="mr-15" target="_blank"><img src="img/logo-instagram.png" alt="Instagram Merck" title="Instagram Merck"></a>
                            <a href="https://www.youtube.com/MerckGroup" class="mr-15" target="_blank"><img src="img/logo-youtube.png" alt="YouTube Merck" title="YouTube Merck"></a>
                            <a href="https://twitter.com/merckgroup" class="mr-15" target="_blank"><img src="img/logo-email.png" alt="E-mail Merck" title="E-mail Merck"></a>
                        </p>
                    </div>

                    <div class="col-lg-12 text-center text-white-50 pt-80 mb-0">
                        <p>
                            <a target="_blank" href="https://www.merckgroup.com/br-pt/privacy-statement.html" class="text-white">Política de Privacidade</a>
                            <span class="text-rosa">|</span>
                            <a target="_blank" href="https://www.merckgroup.com/br-pt/terms-of-use.html" class="text-white">Termos de Uso</a>
                        </p>
                    </div>
                </div>
            </div>

            <p class="text-white text-center mt-40">© 2017 – 2024 Merck KGaA, Darmstadt, Germany and/or its affiliates. All rights reserved.</p>

            <p class="text-white text-center mt-40">
                Merck S.A. Estrada dos Bandeirantes, 1099, Jacarepaguá – Rio de Janeiro - RJ, CEP 22.710.571, Brasil<br />
                BR-CONTR-01359 – Fev 2025
            </p>
        </div>
    </div>
</section>