<!-- Top Bar
============================================= -->
<div id="top-bar" class="text-center dark">
    
</div>

<!-- Header
============================================= -->
<header id="header" class=" bg-white " data-sticky-class="not-dark" data-responsive-class="not-dark">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="/">
                        <img class="logo-default p-2" srcset="img/logotipo-merck-cuida.png" src="img/logotipo-merck-cuida.png" alt="Logo Programa Merck Cuida" title="Logo Programa Merck Cuida">
                    </a>
                </div><!-- #logo end -->

                
                <div class="primary-menu-trigger">
                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                    </button>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu with-arrows">

                    <ul class="menu-container">
                        <li class="menu-item"><a class="menu-link" href="/#como-funciona"><div>Como Funciona</div></a></li>								
                        <li class="menu-item"><a class="menu-link" href="/#cadastre-se"><div>Cadastre-se</div></a></li>
                        <li class="menu-item"><a class="menu-link" href="/#encontre"><div>Encontre uma Farmácia</div></a></li>
                        <li class="menu-item"><a class="menu-link open-regulamento-menu" href="#modal-regulamento"><div>Regulamento</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->