<section id="" class=" mt-0 pt-0 bg-roxo-int">
    <div class="container">
        <div class="swiper_wrapper text-center pt-100" data-loop="true">
            <img src="img/logo-merck-branco.png" alt="Logo Merck Branco Footer" title="Logo Merck Branco Footer">
            <p class="text-white text-center mt-40">© 2017 – 2024 Merck KGaA, Darmstadt, Germany and/or its affiliates. All rights reserved.</p>

            <p class="text-white text-center mt-40">
                Merck S.A. Estrada dos Bandeirantes, 1099, Jacarepaguá – Rio de Janeiro - RJ, CEP 22.710.571, Brasil<br />
                BR-CONTR-01359 – Fev 2025
            </p>
        </div>
    </div>
</section>