<!-- HABILITAR ESSA LINHA SE QUISER QUE ELE ABRE ASSIM QUE CARREGAR A PÃGINA
		<div class="modal-on-load" data-target="#block-modal-coupon"></div> -->
<!-- Modal -->
<div class="modal1 mfp-hide" id="modal-regulamento">
	<div class="modal-dialog modal-dialog-centered mx-auto w-80-regulamento">
		<div class="modal-content bg-white p-4 rounded popup-regulamento">
			<h3 class="text-rosa text-center font-merck">Regulamento</h3>

			<div class="info-popup-regulamento">
				<p class="text-roxo">

				<p align="center"><strong>Pol&iacute;tica de Privacidade</strong></p>
				<p>O <em>IntegraVida &ndash; Conectando voc&ecirc; ao seu tratamento</em> &eacute; um programa de incentivo &agrave; ades&atilde;o do paciente ao tratamento prescrito por seu(sua) m&eacute;dico(a). Desenvolvido pela BIOPAS em parceria com a Interplayers, o Programa tem como objetivo principal facilitar o acesso do paciente participante do Programa (&ldquo;Participante&rdquo;) &agrave; sa&uacute;de, fornecendo informa&ccedil;&otilde;es sobre o tratamento e oferecendo descontos na aquisi&ccedil;&atilde;o de medicamentos selecionados.</p>
				<p>Para que possamos oferecer tais benef&iacute;cios aos pacientes, &eacute; necess&aacute;rio coletarmos e tratarmos alguns dados pessoais dos Participantes do Programa. Esta Pol&iacute;tica de Privacidade (&ldquo;Pol&iacute;tica de Privacidade&rdquo;) apresenta, de maneira simples, objetiva e transparente, as pr&aacute;ticas adotadas em rela&ccedil;&atilde;o ao tratamento de dados pessoais dos Participantes no &acirc;mbito do programa IntegraVida.</p>
				<p><strong>EMBORA O COMPARTILHAMENTO DOS DADOS PESSOAIS SEJA UMA ESCOLHA DO PACIENTE, ELE &Eacute; CONDI&Ccedil;&Atilde;O PARA PARTICIPA&Ccedil;&Atilde;O DO PROGRAMA INTEGRAVIDA. POR ISSO, RECOMENDAMOS QUE ESTA POL&Iacute;TICA DE PRIVACIDADE SEJA LIDA COM ATEN&Ccedil;&Atilde;O.</strong></p>
				<p><br /> </p>
				<p><strong>Quais Dados Pessoais Coletamos</strong></p>
				<p>Para fins desta Pol&iacute;tica de Privacidade, consideram-se &ldquo;Dados Pessoais&rdquo; as informa&ccedil;&otilde;es relacionadas a uma pessoa natural identificada ou identific&aacute;vel. Seus Dados Pessoais s&atilde;o coletados de diversas formas, incluindo atrav&eacute;s do cadastro realizado pelo paciente, das solicita&ccedil;&otilde;es feitas em nossos canais de atendimento e da utiliza&ccedil;&atilde;o do site do IntegraVida.</p>
				<p><br /> </p>
				<p><strong>Coletamos os seguintes Dados Pessoais:</strong></p>
				<p><u>Informa&ccedil;&otilde;es de cadastro.</u> S&atilde;o as informa&ccedil;&otilde;es que o Participante fornece ao realizar o cadastro no Programa por um dos canais dispon&iacute;veis (Central de Atendimento, site ou farm&aacute;cias parceiras do IntegraVida): nome completo, CPF, endere&ccedil;o de e-mail, n&uacute;mero de telefone, endere&ccedil;o e medicamento prescrito. S&atilde;o coletadas tamb&eacute;m informa&ccedil;&otilde;es relacionadas ao(&agrave;) m&eacute;dico(a) prescritor(a): nome do(a) m&eacute;dico(a) e n&uacute;mero do CRM.</p>
				<p><u>Informa&ccedil;&otilde;es de navega&ccedil;&atilde;o.</u> S&atilde;o as informa&ccedil;&otilde;es que coletamos dos usu&aacute;rios (Participantes ou n&atilde;o) que navegam no site do IntegraVida: endere&ccedil;o de IP e outras informa&ccedil;&otilde;es descritas na se&ccedil;&atilde;o &ldquo;<strong>Como Coletamos os Dados Pessoais"</strong>.</p>
				<p><u>Outras informa&ccedil;&otilde;es fornecidas pelos Participantes.</u> S&atilde;o as demais informa&ccedil;&otilde;es voluntariamente fornecidas pelos Participantes do Programa, como por exemplo em comunica&ccedil;&otilde;es com a empresa por meio da Central de Atendimento.</p>
				<p><br /> </p>
				<p><strong>Como Utilizamos os Dados Pessoais</strong></p>
				<p>Utilizamos os Dados Pessoais, inclusive dados de sa&uacute;de dos Participantes, para os fins descritos nesta Pol&iacute;tica de Privacidade e quaisquer outras finalidades previamente informadas ao titular dos dados.</p>
				<p><br /> </p>
				<p><strong>N&oacute;s utilizamos os Dados Pessoais para:</strong></p>
				<ul>
					<li>
						<p>Viabilizar a concess&atilde;o de descontos na aquisi&ccedil;&atilde;o de medicamentos.</p>
					</li>
					<li>
						<p>Identificar e disponibilizar materiais informativos de interesse dos Participantes.</p>
					</li>
					<li>
						<p>Entrar em contato com os Participantes, caso seja necess&aacute;rio, como por exemplo para comunicar sobre altera&ccedil;&otilde;es no regulamento do Programa e nesta Pol&iacute;tica de Privacidade, informar sobre novas funcionalidades do site e responder a solicita&ccedil;&otilde;es, d&uacute;vidas e reclama&ccedil;&otilde;es.</p>
					</li>
					<li>
						<p>Realizar an&aacute;lises estat&iacute;sticas sobre os Participantes e os(as) m&eacute;dicos(as) prescritores(as), para aprimorar e desenvolver novos produtos e servi&ccedil;os.</p>
					</li>
					<li>
						<p>Diagnosticar e solucionar eventuais problemas t&eacute;cnicos do site do IntegraVida.</p>
					</li>
					<li>
						<p>Aperfei&ccedil;oar e desenvolver uma melhor experi&ecirc;ncia para os Participantes no uso do site do IntegraVida.</p>
					</li>
					<li>
						<p>Cumprir obriga&ccedil;&otilde;es legais e regulat&oacute;rias, inclusive na comunica&ccedil;&atilde;o &agrave;s autoridades competentes de evento adversos ou quest&otilde;es relacionadas &agrave; seguran&ccedil;a e qualidade dos nossos produtos.</p>
					</li>
					<li>
						<p>Investigar e instruir eventuais processos judiciais, administrativos ou arbitrais e proteger os direitos e interesses da empresa, nossas afiliadas ou terceiros.</p>
					</li>
				</ul>
				<p>Dados pessoais sens&iacute;veis relacionados &agrave; sa&uacute;de s&atilde;o tratados exclusivamente com base no seu consentimento ou para atendimento a obriga&ccedil;&otilde;es legais ou regulat&oacute;rias.</p>
				<p>Demais dados pessoais tamb&eacute;m podem ser tratados no contexto de cumprimento de obriga&ccedil;&otilde;es contratuais ou leg&iacute;timo interesse.</p>
				<p><br /> </p>
				<p><strong>Quem tem Acesso aos Dados Pessoais</strong></p>
				<p>A BIOPAS atua como controladora em rela&ccedil;&atilde;o aos dados pessoais do Programa. Embora seja a idealizadora do Programa, a BIOPAS, como regra, n&atilde;o tem acesso aos Dados Pessoais dos participantes. A Interplayers &eacute; respons&aacute;vel por operar o programa e trata dados pessoais dos participantes para confirmar a identidade e elegibilidade dos pacientes e viabilizar a participa&ccedil;&atilde;o no programa. A Interplayers e demais parceiros atuam como operadores da BIOPAS em rela&ccedil;&atilde;o ao tratamento de dados pessoais.</p>
				<p>A BIOPAS pode tratar dados pessoais em casos de relato de eventos adversos, queixas t&eacute;cnicas, cumprimento de outras exig&ecirc;ncias legais ou regulat&oacute;rias ou ainda, quando estritamente necess&aacute;rio para garantir a conformidade do Programa do ponto de vista de Compliance.</p>
				<p>Exceto conforme disposto nesta Pol&iacute;tica de Privacidade, os Dados Pessoais coletados n&atilde;o ser&atilde;o fornecidos a terceiros n&atilde;o parceiros, nem tampouco expostos ao p&uacute;blico, vendidos ou comercializados.</p>
				<p><br /> </p>
				<p>N&oacute;s podemos compartilhar os Dados Pessoais nas seguintes hip&oacute;teses:</p>
				<ul>
					<li>
						<p>Para agentes, contratados e prestadores de servi&ccedil;o, que tratam os Dados Pessoais em nosso nome e de acordo com nossas instru&ccedil;&otilde;es, para a presta&ccedil;&atilde;o de servi&ccedil;os como armazenamento de dados, gerenciamento da base de pacientes, envio de comunica&ccedil;&otilde;es, manuten&ccedil;&atilde;o e gest&atilde;o dos canais de atendimento ao cliente e fornecimento de infraestrutura, entre outros.</p>
					</li>
					<li>
						<p>Para autoridades judiciais, policiais ou administrativas, no Brasil ou no exterior, em cumprimento de ordem judicial ou obriga&ccedil;&atilde;o legal ou regulat&oacute;ria.</p>
					</li>
					<li>
						<p>Para terceiros em conex&atilde;o com qualquer reorganiza&ccedil;&atilde;o, fus&atilde;o, venda, joint venture, cess&atilde;o, transfer&ecirc;ncia ou outra disposi&ccedil;&atilde;o de toda ou parte de nossos neg&oacute;cios, ativos ou a&ccedil;&otilde;es (inclusive em processo de fal&ecirc;ncia ou semelhante).</p>
					</li>
				</ul>
				<p>Relat&oacute;rios estat&iacute;sticos criados a partir de dados agregados, que n&atilde;o revelem a identidade dos titulares, poder&atilde;o tamb&eacute;m ser compartilhados com terceiros, tais como afiliadas, subcontratados e/ou parceiros comerciais.</p>
				<p><br /> </p>
				<p><strong>Como Coletamos os Dados Pessoais</strong></p>
				<p>Al&eacute;m das informa&ccedil;&otilde;es que os Participantes voluntariamente nos enviam, utilizamos certas tecnologias como &ldquo;cookies&rdquo;, &ldquo;web beacons&rdquo; e &ldquo;IPs&rdquo; para a coleta de informa&ccedil;&otilde;es no site do IntegraVida.</p>
				<p>Ao navegar no site do IntegraVida ou ao utilizar qualquer um de seus recursos ou ferramentas, um cookie poder&aacute; ser enviado para o dispositivo. Um cookie &eacute; um fragmento de dado que o identifica como um usu&aacute;rio &uacute;nico, reconhecendo, acompanhando e armazenando suas informa&ccedil;&otilde;es de navega&ccedil;&atilde;o. O site insere cookies em seu dispositivo contendo um identificador exclusivo usado para melhor compreender o uso do site, possibilitando que sejam identificadas quais funcionalidades s&atilde;o preferidas pelos usu&aacute;rios (por exemplo, com base no n&uacute;mero de visitas a essas funcionalidades).</p>
				<p>Se o usu&aacute;rio estiver cadastrado no site, quando fizer o log-in, poder&aacute; ser fornecido um cookie, que ser&aacute; mantido pelo site ou pelo navegador, e conter&aacute; um identificador. Este tipo de cookie &eacute; usado para identificar o usu&aacute;rio e fornecer-lhe acesso a &aacute;reas do site que s&atilde;o limitadas a usu&aacute;rios cadastrados, tais como aqueles que permitem que o usu&aacute;rio visualize e gerencie sua conta.</p>
				<p><strong>Quais cookies utilizamos?</strong></p>
				<p>&bull; Cookies Necess&aacute;rios</p>
				<p>Estes cookies s&atilde;o necess&aacute;rios para operar o nosso website e, portanto, n&atilde;o podem ser desativados.</p>
				<table width="566" cellspacing="0" cellpadding="7">
					<tbody>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Nome</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Fun&ccedil;&atilde;o</span></span></p>
							</td>
						</tr>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>cookieConsent</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Autoriza&ccedil;&atilde;o de cookies do usu&aacute;rio</span></span></p>
							</td>
						</tr>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>cookieConsentPrefs</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Configura&ccedil;&atilde;o de tipos de cookies autorizados</span></span></p>
							</td>
						</tr>
					</tbody>
				</table>
				<p><br /> </p>
				<p>&bull; Cookies relacionados ao desempenho</p>
				<p>Estes cookies melhoram o nosso website de maneira indireta, rastreando o seu uso e coletando informa&ccedil;&otilde;es an&ocirc;nimas para gerar relat&oacute;rios sobre estat&iacute;sticas de uso sem identificar usu&aacute;rios individuais.</p>
				<table width="566" cellspacing="0" cellpadding="7">
					<tbody>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Nome</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Fun&ccedil;&atilde;o</span></span></p>
							</td>
						</tr>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>ga</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Identifica&ccedil;&atilde;o do usu&aacute;rio para o Google Analytics</span></span></p>
							</td>
						</tr>
						<tr valign="top">
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>_ga_&lt;container-id&gt;</span></span></p>
							</td>
							<td style="border: 1px solid #000000;">
								<p><span style="font-family: Aptos, serif;"><span>Identificador da sess&atilde;o interna do Google Analytics</span></span></p>
							</td>
						</tr>
					</tbody>
				</table>
				<p><br /> </p>
				<p>Caso o usu&aacute;rio se cadastre e entre em nossas &aacute;reas de acesso especial e tenha modificado no site ou no navegador para n&atilde;o aceitar cookies, pode ser necess&aacute;rio gerenciar os cookies do website clicando aqui ou reiniciar o navegador para aceitar os cookies enviados. Caso contr&aacute;rio, o usu&aacute;rio poder&aacute; n&atilde;o ter acesso a certas &aacute;reas do site. Para alterar as configura&ccedil;&otilde;es de cookies no seu navegador ou obter mais informa&ccedil;&otilde;es, consulte o link referente ao seu navegador ou pesquisa &ldquo;cookie&rdquo; na parte &ldquo;Ajuda&rdquo; de seu navegador.</p>
				<p>&bull;<span lang="en-US"> Internet Explorer: https://support.microsoft.com/pt-br/help/17442/windows-internetexplorer-delete-manage-cookies</span></p>
				<p>&bull;<span lang="en-US"> Mozilla Firefox: https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-queos-sites-usam </span></p>
				<p>&bull;<span lang="en-US"> Google Chrome: https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp; hl=pt-BR </span></p>
				<p>&bull;<span lang="en-US"> Safari: https://support.apple.com/pt-br/guide/safari/sfri11471/mac </span></p>
				<p>Note que a desativa&ccedil;&atilde;o de alguns cookies poder&aacute; comprometer determinadas funcionalidades do website.</p>
				<p>Al&eacute;m dos cookies, n&oacute;s poderemos utilizar ou autorizar a utiliza&ccedil;&atilde;o de outras tecnologias de coleta de dados e identifica&ccedil;&atilde;o, tais como &ldquo;beacons&rdquo; (tamb&eacute;m conhecidos como &ldquo;pixel tags&rdquo; ou &ldquo;clear gifs&rdquo;). Os beacons servem para ajudar a gerenciar e aperfei&ccedil;oar nossos servi&ccedil;os, sistemas, publicidade e an&uacute;ncios online e demais ferramentas. Eles s&atilde;o pequenos blocos de c&oacute;digo inseridos no site que podem coletar informa&ccedil;&otilde;es sobre seu dispositivo, incluindo, por exemplo: modelo de dispositivo, sistema operacional, vers&atilde;o de navegador, hor&aacute;rio de acesso, endere&ccedil;o IP e outras informa&ccedil;&otilde;es similares.</p>
				<p>Podemos incluir tamb&eacute;m pixel tags em mensagens de e-mail com formato HTML que enviamos (ou que s&atilde;o enviadas em nosso nome), a fim de determinar quais mensagens de e-mail foram abertas e indicar se uma mensagem de e-mail suscitou uma a&ccedil;&atilde;o.</p>
				<p>O usu&aacute;rio poder&aacute; tornar alguns pixels tags ou web beacons inutiliz&aacute;veis ao rejeitar os cookies a eles associados.</p>
				<p>Sites, conte&uacute;dos e aplicativos de terceiros, assim como afiliados, subcontratados ou nossos parceiros comerciais poder&atilde;o utilizar seus pr&oacute;prios cookies ou beacons, os quais podem n&atilde;o operar nos mesmos termos desta Pol&iacute;tica de Privacidade. Dessa forma, n&atilde;o nos responsabilizamos por estes sites e conte&uacute;dos e, ainda, n&atilde;o compartilhamos, subscrevemos, monitoramos, validamos ou aceitamos a forma como esses sites ou ferramentas de armazenamento de conte&uacute;do coletam, processam e transferem suas informa&ccedil;&otilde;es pessoais e privadas. Recomendamos que os usu&aacute;rios consultem as respectivas pol&iacute;ticas de privacidade de tais sites para se informar adequadamente a respeito do uso de suas informa&ccedil;&otilde;es pessoais por outros sites ou outras ferramentas.</p>
				<p>Coletamos tamb&eacute;m o endere&ccedil;o IP (Protocolo da Internet), um n&uacute;mero automaticamente atribu&iacute;do ao equipamento pelo seu provedor de conex&atilde;o &agrave; internet sempre que se conecta &agrave; Internet. Poderemos tamb&eacute;m usar os endere&ccedil;os IP para coletar informa&ccedil;&otilde;es an&ocirc;nimas e agregadas sobre o n&uacute;mero de visitantes e uso do site.</p>
				<p><br /> </p>
				<p><strong>Comunica&ccedil;&otilde;es</strong></p>
				<p>N&atilde;o solicitamos informa&ccedil;&otilde;es pessoais por e-mail. Por este motivo, n&atilde;o nos responsabilizamos por quaisquer comunica&ccedil;&otilde;es eletr&ocirc;nicas fraudulentas que coletem seus dados pessoais (t&eacute;cnica comumente conhecida como phishing).</p>
				<p><br /> </p>
				<p><strong>Seguran&ccedil;a</strong></p>
				<p>Temos um compromisso com a seguran&ccedil;a dos Dados Pessoais e tomamos precau&ccedil;&otilde;es razo&aacute;veis para mant&ecirc;-los protegidos. Empregamos sistemas de seguran&ccedil;a usualmente adotados pelo mercado e implementamos medidas t&eacute;cnicas e organizacionais para proteger suas informa&ccedil;&otilde;es contra acessos n&atilde;o autorizados. No entanto, devido ao funcionamento da internet, n&atilde;o podemos dar garantias absolutas de que nenhuma informa&ccedil;&atilde;o pessoal ser&aacute; acessada por terceiros n&atilde;o autorizados se este acesso ocorrer fora da infraestrutura da Interplayers ou Biopas.</p>
				<p><br /> </p>
				<p><strong>Por Quanto Tempo S&atilde;o Armazenados os Dados Pessoais</strong></p>
				<p>Armazenamos os Dados Pessoais de forma segura em data centers localizados no Brasil e no exterior, pelo per&iacute;odo necess&aacute;rio ou permitido em vista das finalidades para as quais os Dados Pessoais foram coletados, conforme exposto nesta Pol&iacute;tica de Privacidade. Os crit&eacute;rios utilizados para determinar ossos per&iacute;odos de reten&ccedil;&atilde;o incluem, mas n&atilde;o se limitam a: (i) dura&ccedil;&atilde;o do relacionamento entre o titular e a empresa; (ii) eventual obriga&ccedil;&atilde;o legal ou regulat&oacute;ria que exija a manuten&ccedil;&atilde;o; e (iii) prazos prescricionais aplic&aacute;veis, conforme previsto em lei.</p>
				<p><br /> </p>
				<p><strong>Direitos dos Titulares dos Dados Pessoais</strong></p>
				<p>Nos termos da LGPD, os participantes do Programa t&ecirc;m direito a:</p>
				<ul>
					<li>
						<p>Confirma&ccedil;&atilde;o de que os Dados Pessoais est&atilde;o sendo tratados.</p>
					</li>
					<li>
						<p>Acesso aos Dados Pessoais.</p>
					</li>
					<li>
						<p>Corre&ccedil;&otilde;es de Dados Pessoais incompletos, inexatos ou desatualizados.</p>
					</li>
					<li>
						<p>Anonimiza&ccedil;&atilde;o, bloqueio ou elimina&ccedil;&atilde;o de Dados Pessoais considerados desnecess&aacute;rios, excessivos ou tratados em desconformidade com o disposto em lei.</p>
					</li>
					<li>
						<p>Portabilidade de Dados Pessoais a um terceiro, contanto que isso n&atilde;o afete nossos segredos industriais e comerciais.</p>
					</li>
					<li>
						<p>Elimina&ccedil;&atilde;o dos Dados Pessoais tratados com base no consentimento, na medida do permitido em lei.</p>
					</li>
					<li>
						<p>Informa&ccedil;&otilde;es sobre as entidades &agrave;s quais os Dados Pessoais tenham sido compartilhados.</p>
					</li>
					<li>
						<p>Informa&ccedil;&otilde;es sobre a possibilidade de n&atilde;o fornecer o consentimento e consequ&ecirc;ncias da negativa.</p>
					</li>
					<li>
						<p>Revoga&ccedil;&atilde;o do consentimento.</p>
					</li>
				</ul>
				<p>Para exercer qualquer um dos direitos mencionados acima, entre em contato conosco atrav&eacute;s do telefone 0800 591 9210.</p>
				<p>O titular possui, ainda, o direito de peticionar contra o controlador perante a ANPD.</p>
				<p><br /> </p>
				<p><strong>Dados Pessoais de Crian&ccedil;as</strong></p>
				<p>Caso o Participante tenha menos de 18 (dezoito) anos de idade, o tratamento dos Dados Pessoais observar&aacute; o melhor interesse da crian&ccedil;a ou do adolescente, conforme estabelecido na LGPD. Essa Pol&iacute;tica de Privacidade cont&eacute;m todas as informa&ccedil;&otilde;es sobre as finalidades do tratamento de dados pessoais, as pr&aacute;ticas de prote&ccedil;&atilde;o de dados pessoais adotadas e os direitos dos titulares para que os menores e seus pais ou respons&aacute;veis legais possam compreender como se d&aacute; o tratamento dos dados em quest&atilde;o.</p>
				<p>Para a participa&ccedil;&atilde;o no programa, menores de idade dever&atilde;o estar devidamente representados por seus representantes legais nos termos da legisla&ccedil;&atilde;o brasileira, os quis dever&aacute; tomar ci&ecirc;ncia sobre a forma de tratamento dos dados pessoais do representado.</p>
				<p><br /> </p>
				<p><strong>Altera&ccedil;&otilde;es a Esta Pol&iacute;tica de Privacidade</strong></p>
				<p>A presente Pol&iacute;tica de Privacidade poder&aacute; ser modificada, complementada ou atualizada visando adaptar-se a qualquer evolu&ccedil;&atilde;o legislativa, regulamentar, jurisprudencial e t&eacute;cnica ou por motivos internos. Os dados pessoais dos titulares ser&atilde;o sempre tratados conforme legisla&ccedil;&atilde;o em vigor e melhores pr&aacute;ticas aplic&aacute;veis ao tema. Convidamos voc&ecirc;s a verificar essa p&aacute;gina periodicamente para se manterem sempre atualizados quanto a eventuais modifica&ccedil;&otilde;es.</p>
				<p>Os termos utilizados nesta Pol&iacute;tica ter&atilde;o o mesmo significado que lhes &eacute; outorgado pela Lei n&ordm; 13.709/2018 &ndash; (LGPD).</p>
				<p>Altera&ccedil;&otilde;es significativas ser&atilde;o comunicadas por meio de um aviso em destaque na tela inicial do site do IntegraVida ou qualquer outra forma de comunica&ccedil;&atilde;o com os Participantes. Se necess&aacute;rio para as altera&ccedil;&otilde;es relacionadas ao tratamento de dados pessoais no &acirc;mbito do Programa, poderemos solicitar um novo consentimento como condi&ccedil;&atilde;o &agrave; continua&ccedil;&atilde;o da participa&ccedil;&atilde;o no Programa.</p>
				<p><br /> </p>
				<p><strong>Entre em Contato Conosco</strong></p>
				<p>Em caso de d&uacute;vidas, coment&aacute;rios, sugest&otilde;es ou reclama&ccedil;&otilde;es relacionadas a esta Pol&iacute;tica de Privacidade ou &agrave;s pr&aacute;ticas de prote&ccedil;&atilde;o de dados do IntegraVida, entre em contato conosco por meio dos nossos Canais de Atendimento ou atrav&eacute;s do telefone 0800 591 9210 ou mandando um e-mail para sac@biopasgroup.com</p>
				<p><br /> </p>
			</div>

			<div id="container-aceitar-lgpd"><button class="btn btn-outline-dark text-white bg-cor-roxo px-4 btn-copy mt-4">Aceitar e continuar</button></div>
		</div>
	</div>
</div>